/*RESPONSIVE*/
/*TABLET*/
@media screen and (max-width: 850px) {
  /* Navigation Header */
  header {
    .nav {
      --state-close: scale(0);
      --state-hamburguer: scale(1);
      --state-menu: translate(-100%);
      &:target {
        --state-close: scale(1);
      }
      .nav-hamburguer,
      .nav-close {
        cursor: pointer;
        grid-column: -2/-1;
        grid-row: 1/2;
        transition: 0.4s transform;
      }
      .nav-links {
        padding: 0;
        background-color: rgb(212, 209, 165);
        position: absolute;
        gap: 1.5em;
        grid-auto-flow: row;
        text-align: center;
        transform: var(--state-menu);
        transition: 0.3s transform;
        .nav-item {
          .nav-link {
            font-size: 2.5rem;
            letter-spacing: none;
          }
        }
      }
    }
  }
}
/*CELULAR*/
@media screen and (max-width: 420px) {
  .parrafo-imagen {
    font-size: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
  .column {
    padding: 0px;
  }
}
