$color-beige: beige;
$color-naranja: rgb(197, 137, 26);
$color-beige1: rgb(212, 209, 165);
$color-amarillo:rgb(243, 243, 191);
$color-gris:gray;
$color-gris1:rgb(207, 199, 199);
$color-blanco:rgb(231, 221, 221);
$color-negro:black;