header {
  max-height: 12vh;
  background: $color-beige1;
  .nav {
    --state-hamburguer: scale(0);
    --state-close: scale(0);
    --state-menu: translate(0);
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
    &:target {
      --state-menu: translate(0);
      --state-close: scale(0);
      --state-hamburguer: scale(0);
    }
    .nav-logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        height: 6vh;
        margin: 5px;
        z-index: 1;
      }
    }
    .nav-hamburguer {
      transform: var(--state-hamburguer);
      .nav-icon {
        width: 40px;
      }
    }
    .nav-close {
      transform: var(--state-close);
    }

    .nav-links {
      background-color: unset;
      position: unset;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0;
      display: grid;
      align-content: center;
      gap: 1.5em;
      transform: unset;
      grid-auto-flow: column;
      transform: unset;
      grid-column: -2/-1;
      grid-row: 1/2;
      .nav-item {
        list-style: none;
        .nav-link {
          color: $color-negro;
          text-decoration: none;
          letter-spacing: none;
          &:hover {
            color: $color-negro;
            background: rgb(228, 228, 172);
            transform: scale(1.1);
            transition: 1s;
          }
        }
      }
    }
  }
}
